*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
h2{
    font-size:60px;
    margin-top:5px;
    text-align:center;
}
body
{
   background-image: url('Clear.jpg');
   height:100vh;
   overflow:hidden;
   background-repeat: no-repeat;
   background-position: center;
   background-size:1400px 700px;
}
.con
{
    width:50vh;
    margin:40px auto;
    background-color:rgba(240,248,255,0.6);
    padding:20px;
    text-align:center;
    border:6px solid rgba(0,0,0,0.3);
}
.con > * {
margin-bottom:20px;
}
.input-box
{
    width:100%;
    background-color: rgba(255,255,255,0.6);
    border:none;
    outline:none;
    color:#582233;
    font-size:1.2rem;
    height:50px;
    border-radius: 5px;
    padding:0 18px;
    text-align:center;
}
.input-box:focus{
    background:rgba(255,255,255);
}
.weather-body
{
    color:#582233;
    padding:20px;
    line-height:2rem;
    border-radius:10px;
    background-color: rgba(240,248,255,0.6);
    height:50vh;
}
.locationDetail
{
    font-weight:bold;
}
.weatherStatus
{
    padding:20px;
}
.temp
{
    font-size:50pt;
    font-weight:700;
    margin:20px 0;
    text-shadow: 2px 4px rgba(0,0,0,0.3);
}
